// ------------------------------
// Framework Prefix
// ------------------------------

$bb-framework-prefix: "bb" !default;

// ------------------------------
// Text Color Scheme
//
// - Value = "dark" or "light"
//
// ------------------------------

$bb-text-color-scheme: "dark" !default;

// ------------------------------
// Typography
//
// [1] Font Family
// [2] Material Design Headings
// [3] Default Headings
// [4] Body
//
// ------------------------------

// [1]
$bb-font-family: Roboto, 'Helvetica Neue', sans-serif !default;

// 10px = font-size: 62.5% at <html>
$bb-base-font-size: 10px !default;

@function bb-rem($multiplier) {
  @return $multiplier * $bb-base-font-size
}

// [2]
$bb-display-4-font-size-base: bb-rem(11.20) !default;
$bb-display-3-font-size-base: bb-rem(5.600) !default;
$bb-display-2-font-size-base: bb-rem(4.500) !default;
$bb-display-1-font-size-base: bb-rem(3.400) !default;

// [3]
$bb-heading-1-font-size-base: bb-rem(3.600) !default;
$bb-heading-2-font-size-base: bb-rem(3.000) !default;
$bb-heading-3-font-size-base: bb-rem(2.400) !default;
$bb-heading-4-font-size-base: bb-rem(1.800) !default;
$bb-heading-5-font-size-base: bb-rem(1.400) !default;
$bb-heading-6-font-size-base: bb-rem(1.200) !default;

// [4]
$bb-headline-font-size-base: bb-rem(2.400) !default;
$bb-title-font-size-base: bb-rem(2.000) !default;
$bb-subhead-font-size-base: bb-rem(1.600) !default;

$bb-body-font-size-base: bb-rem(1.400) !default;
$bb-caption-font-size-base: bb-rem(1.200) !default;

// ------------------------------
// Layout
// ------------------------------
$bb-baseline-grid: 8px !default;
$bb-layout-gutter-width: ($bb-baseline-grid * 2) !default;

$bb-layout-breakpoint-xsmall: 600px !default;
$bb-layout-breakpoint-small: 960px !default;
$bb-layout-breakpoint-medium: 1280px !default;
$bb-layout-breakpoint-large: 1920px !default;