// ------------------------------
// Framework Variables
//
// [1] Version
// [2] Github Repository
//
// ------------------------------

// [1]
$bb-version: "0.0.3";

// [2]
$bb-github: "https://github.com/BareboneFramework/barebone";

// ------------------------------
// Framework Signature (Please don't remove it)
// ------------------------------

/*
 * Barebone Framework version #{$bb-version}
 *
 * #{$bb-github}
 */

// ------------------------------
// Import Components
// ------------------------------
// Core components
@import "core";
// Color pallet
@import "colors";
// Variables
@import "variables";
// Mixins
@import "mixins";
// Layout
@import "layout";
// Typography
@import "typography";

// ------------------------------
// Import Dependencies
//
// [1] Normalize.css
// [2] Roboto Font Face
//
// ------------------------------

// NORMAL IMPORTS
// [1] Normalize.css
@import '../../modularized-normalize-scss/normalize';

// [2] Roboto Font Face
@import '../../roboto-fontface/css/roboto-fontface';

// ------------------------------
// Framework wide
// ------------------------------
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.4;
  font-family: $bb-font-family;
  color: bb-color('text-#{$bb-text-color-scheme}', 'primary');
}

html,
body {
  min-height: 100%;
}

/* Barebone Framework version #{$bb-version} */