// ------------------------------
// Framework Variables
//
// [1] Version
// [2] Github Repository
//
// ------------------------------

// [1]
$bb-version: "0.0.3";

// [2]
$bb-github: "https://github.com/BareboneFramework/barebone";

// ------------------------------
// Framework Signature (Please don't remove it)
// ------------------------------

/*
 * Barebone Framework version #{$bb-version}
 *
 * #{$bb-github}
 */

// ------------------------------
// Import Components
// ------------------------------
// Core components
@import "core";
// Color pallet
@import "colors";
// Variables
@import "variables";
// Mixins
@import "mixins";
// Layout
@import "layout";
// Typography
@import "typography";

// ------------------------------
// Import normalize.css
// ------------------------------
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css);

// ------------------------------
// Import fonts
//
// [1] Roboto Material Design Font
// [2] FontAwesome Icons
//
// ------------------------------

// [1]
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,500italic,400italic,700italic,300italic);

// [2]
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

// ------------------------------
// Framework wide
// ------------------------------
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.4;
  font-family: $bb-font-family;
  color: bb-color('text-#{$bb-text-color-scheme}', 'primary');
}

html,
body {
  min-height: 100%;
}

/* Barebone Framework version #{$bb-version} */