// ------------------------------
// Containers
//
// [1] Default full-width container
// [2] Centered fixed-width container
//
// ------------------------------

// [1]
.#{bb-prefix()}container,
.#{bb-prefix()}container-fixed {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

// [2]
@media (min-width: $bb-layout-breakpoint-small) {
  .#{bb-prefix()}container-fixed {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
  }
}

@media (min-width: $bb-layout-breakpoint-medium) {
  .#{bb-prefix()}container-fixed {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}

// ------------------------------
// Helpers
//
// [1] Padding for .containers
// [2] Margin for .containers
//
// ------------------------------

.#{bb-prefix()}column {
  flex-direction: column;
  -webkit-flex-direction: column;
}

.#{bb-prefix()}row {
  flex-direction: row;
  -webkit-flex-direction: row;
}

.#{bb-prefix()}wrap {
  flex-wrap: wrap;
}

.#{bb-prefix()}fill {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

// [1]
.#{bb-prefix()}padding > .#{bb-prefix()}flex-sm,
.#{bb-prefix()}padding > .#{bb-prefix()}flex-lt-md {
  padding: $bb-layout-gutter-width / 4;
}

.#{bb-prefix()}padding,
.#{bb-prefix()}padding > .#{bb-prefix()}flex,
.#{bb-prefix()}padding > .#{bb-prefix()}flex-gt-sm,
.#{bb-prefix()}padding > .#{bb-prefix()}flex-md,
.#{bb-prefix()}padding > .#{bb-prefix()}flex-lt-lg {
  padding: $bb-layout-gutter-width / 2;
}

.#{bb-prefix()}padding > .#{bb-prefix()}flex-gt-md,
.#{bb-prefix()}padding > .#{bb-prefix()}flex-lg {
  padding: $bb-layout-gutter-width / 1;
}

// [2]
.#{bb-prefix()}margin > .#{bb-prefix()}flex-sm,
.#{bb-prefix()}margin > .#{bb-prefix()}flex-lt-md {
  margin: $bb-layout-gutter-width / 4;
}

.#{bb-prefix()}margin,
.#{bb-prefix()}margin > .#{bb-prefix()}flex,
.#{bb-prefix()}margin > .#{bb-prefix()}flex-gt-sm,
.#{bb-prefix()}margin > .#{bb-prefix()}flex-md,
.#{bb-prefix()}margin > .#{bb-prefix()}flex-lt-lg {
  margin: $bb-layout-gutter-width / 2;
}

.#{bb-prefix()}margin > .#{bb-prefix()}flex-gt-md,
.#{bb-prefix()}margin > .#{bb-prefix()}flex-lg {
  margin: $bb-layout-gutter-width / 1;
}

// ------------------------------
// Mixins for Responsive Grid System
//
// [1] Order
// [2] Layout
// [3] Offset
// [4] Flex Properties
// [5] Align
//
// ------------------------------

// [1]
@mixin bb-flex-order-for-name($suffix: null) {
  $selector: bb-prefix() + 'flex-order';
  @if $suffix != null {
    $selector: bb-prefix() + 'flex-order-#{$suffix}';
  }

  .#{$selector}-0 {
    order: 0;
  }
  .#{$selector}-1 {
    order: 1;
  }
  .#{$selector}-2 {
    order: 2;
  }
  .#{$selector}-3 {
    order: 3;
  }
  .#{$selector}-4 {
    order: 4;
  }
  .#{$selector}-5 {
    order: 5;
  }
  .#{$selector}-6 {
    order: 6;
  }
  .#{$selector}-7 {
    order: 7;
  }
  .#{$selector}-8 {
    order: 8;
  }
  .#{$selector}-9 {
    order: 9;
  }
}

// [2]
@mixin bb-layout-for-name($name) {
  $name: bb-prefix() + $name;

  .#{$name} {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .#{$name}-column {
    flex-direction: column;
    -webkit-flex-direction: column;
  }

  .#{$name}-row {
    flex-direction: row;
    -webkit-flex-direction: row;
  }
}

// [3]
@mixin bb-offset-for-name($name: null) {
  $offsetName: bb-prefix() + 'offset';
  @if $name != null {
    $offsetName: bb-prefix() + 'offset-#{$name}';
  }

  @for $i from 1 through 19 {
    .#{$offsetName}-#{$i*5} {
      margin-left: #{$i * 5 + '%'};
    }
  }

  .#{$offsetName}-33, .#{$offsetName}-34 {
    margin-left: 33.33%;
  }
  .#{$offsetName}-66, .#{$offsetName}-67 {
    margin-left: 66.66%;
  }
}

// [4]
@mixin bb-flex-properties-for-name($name: null) {
  $flexName: bb-prefix() + 'flex';
  @if $name != null {
    $flexName: bb-prefix() + 'flex-#{$name}';
  }

  .#{$flexName} {
    box-sizing: border-box;
    flex: 1;
    display: flex;
  }

  // (0-20) * 5 = 0-100%
  @for $i from 0 through 20 {
    .#{$flexName}-#{$i * 5} {
      flex: 0 0 #{$i * 5 + '%'};
      display: flex;
      max-width: #{$i * 5 + '%'};
    }
  }

  .#{$flexName}-33, .#{$flexName}-34 {
    flex: 0 0 34%;
    display: flex;
    max-width: 34%;
  }

  .#{$flexName}-66, .#{$flexName}-67 {
    flex: 0 0 66%;
    display: flex;
    max-width: 66%;
  }
}

// [5]
@mixin bb-align-for-name($suffix: null) {
  $name: bb-prefix() + 'align';
  @if $suffix != null {
    $name: bb-prefix() + 'align-#{$suffix}';
  }
  // ------------------------------
  // Alignment attributes for layout containers' children
  // Arrange on the Main Axis
  // center, start, end, space-between, space-around
  // flex-start is the default for justify-content
  // ------------------------------

  // Main Axis Center
  .#{$name}-center,
  .#{$name}-center-center,
  .#{$name}-center-start,
  .#{$name}-center-end {
    justify-content: center;
  }

  // Main Axis End
  .#{$name}-end,
  .#{$name}-end-center,
  .#{$name}-end-start,
  .#{$name}-end-end {
    justify-content: flex-end;
  }

  // Main Axis Space Around
  .#{$name}-space-around,
  .#{$name}-space-around-center,
  .#{$name}-space-around-start,
  .#{$name}-space-around-end {
    justify-content: space-around;
  }

  // Main Axis Space Between
  .#{$name}-space-between,
  .#{$name}-space-between-center,
  .#{$name}-space-between-start,
  .#{$name}-space-between-end {
    justify-content: space-between;
  }

  // ------------------------------
  // Arrange on the Cross Axis
  // center, start, end
  // stretch is the default for align-items
  // ------------------------------

  // Cross Axis Center
  .#{$name}-center-center,
  .#{$name}-start-center,
  .#{$name}-end-center,
  .#{$name}-space-between-center,
  .#{$name}-space-around-center {
    align-items: center;
  }

  // Cross Axis Start
  .#{$name}-center-start,
  .#{$name}-start-start,
  .#{$name}-end-start,
  .#{$name}-space-between-start,
  .#{$name}-space-around-start {
    align-items: flex-start;
  }

  // Cross Axis End
  .#{$name}-center-end,
  .#{$name}-start-end,
  .#{$name}-end-end,
  .#{$name}-space-between-end,
  .#{$name}-space-around-end {
    align-items: flex-end;
  }
}

// ------------------------------
// Basic Flex Attributes
// ------------------------------

@include bb-flex-properties-for-name();
@include bb-align-for-name();
@include bb-flex-order-for-name();
@include bb-offset-for-name();

// ------------------------------
// Flex Attributes for specific layout
//
// [1] X-Small  (< 600px)
//    [1.1] Bigger than X-Small (>= 600px)
//
// [2] Small    (< 960px)
//    [2.1] Bigger than Small   (>= 960px)
//
// [3] Medium   (< 1280px)
//    [3.1] Bigger than Medium  (>= 1280px)
//
// [4] Large    (< 1920px)
//    [4.1] Bigger than Large   (>= 1920px)
//
// ------------------------------

// [1]
@media (max-width: $bb-layout-breakpoint-xsmall - 1) {
  .#{bb-prefix()}hide-xsm, .#{bb-prefix()}hide {
    &:not(.#{bb-prefix()}show-xsm):not(.#{bb-prefix()}show) {
      display: none;
    }
  }

  @include bb-flex-order-for-name(xsm);
  @include bb-align-for-name(xsm);
  @include bb-layout-for-name(xsm);
  @include bb-offset-for-name(xsm);
  @include bb-flex-properties-for-name(xsm);
}

// [1.1]
@media (min-width: $bb-layout-breakpoint-xsmall) {
  @include bb-flex-order-for-name(gt-xsm);
  @include bb-align-for-name(gt-xsm);
  @include bb-layout-for-name(gt-xsm);
  @include bb-offset-for-name(gt-xsm);
  @include bb-flex-properties-for-name(gt-xsm);
}

// [2]
@media (min-width: $bb-layout-breakpoint-xsmall) and (max-width: $bb-layout-breakpoint-small - 1) {
  .#{bb-prefix()}hide, .#{bb-prefix()}hide-gt-xsm {
    &:not(.#{bb-prefix()}show-gt-xsm):not(.#{bb-prefix()}show-sm):not(.#{bb-prefix()}show) {
      display: none;
    }
  }
  .#{bb-prefix()}hide-sm:not(.#{bb-prefix()}show-sm):not(.#{bb-prefix()}show) {
    display: none;
  }
  @include bb-flex-order-for-name(sm);
  @include bb-align-for-name(sm);
  @include bb-layout-for-name(sm);
  @include bb-offset-for-name(sm);
  @include bb-flex-properties-for-name(sm);
}

// [2.1]
@media (min-width: $bb-layout-breakpoint-small) {
  @include bb-flex-order-for-name(gt-sm);
  @include bb-align-for-name(gt-sm);
  @include bb-layout-for-name(gt-sm);
  @include bb-offset-for-name(gt-sm);
  @include bb-flex-properties-for-name(gt-sm);
}

// [3]
@media (min-width: $bb-layout-breakpoint-small) and (max-width: $bb-layout-breakpoint-medium - 1) {
  .#{bb-prefix()}hide, .#{bb-prefix()}hide-gt-sm {
    &:not(.#{bb-prefix()}show-gt-sm):not(.#{bb-prefix()}show-md):not(.#{bb-prefix()}show) {
      display: none;
    }
  }
  .#{bb-prefix()}hide-md:not(.#{bb-prefix()}show-md):not(.#{bb-prefix()}show) {
    display: none;
  }
  @include bb-flex-order-for-name(md);
  @include bb-align-for-name(md);
  @include bb-layout-for-name(md);
  @include bb-offset-for-name(md);
  @include bb-flex-properties-for-name(md);
}

// [3.1]
@media (min-width: $bb-layout-breakpoint-medium) {
  @include bb-flex-order-for-name(gt-md);
  @include bb-align-for-name(gt-md);
  @include bb-layout-for-name(gt-md);
  @include bb-offset-for-name(gt-md);
  @include bb-flex-properties-for-name(gt-md);
}

// [4]
@media (min-width: $bb-layout-breakpoint-medium) and (max-width: $bb-layout-breakpoint-large - 1) {
  .#{bb-prefix()}hide, .#{bb-prefix()}hide-gt-sm, .#{bb-prefix()}hide-gt-md {
    &:not(.#{bb-prefix()}show-gt-sm):not(.#{bb-prefix()}show-gt-md):not(.#{bb-prefix()}show-lg):not(.#{bb-prefix()}show) {
      display: none;
    }
  }
  .#{bb-prefix()}hide-lg:not(.#{bb-prefix()}show-lg):not(.#{bb-prefix()}show) {
    display: none;
  }
  @include bb-flex-order-for-name(lg);
  @include bb-align-for-name(lg);
  @include bb-layout-for-name(lg);
  @include bb-offset-for-name(lg);
  @include bb-flex-properties-for-name(lg);
}

// [4.1]
@media (min-width: $bb-layout-breakpoint-large) {
  .#{bb-prefix()}hide-gt-sm, .#{bb-prefix()}hide-gt-md, .#{bb-prefix()}hide-gt-lg, .#{bb-prefix()}hide {
    &:not(.#{bb-prefix()}show-gt-sm):not(.#{bb-prefix()}show-gt-md):not(.#{bb-prefix()}show-gt-lg):not(.#{bb-prefix()}show) {
      display: none;
    }
  }
  @include bb-flex-order-for-name(gt-lg);
  @include bb-align-for-name(gt-lg);
  @include bb-layout-for-name(gt-lg);
  @include bb-offset-for-name(gt-lg);
  @include bb-flex-properties-for-name(gt-lg);
}