// ------------------------------
// Containers
//
// [1] Default full-width container
// [2] Centered fixed-width container
//
// ------------------------------

// [1]
.#{bb-prefix()}container,
.#{bb-prefix()}container-fixed {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

// [2]
@media (min-width: $bb-layout-breakpoint-small) {
  .#{bb-prefix()}container-fixed {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
  }
}

@media (min-width: $bb-layout-breakpoint-medium) {
  .#{bb-prefix()}container-fixed {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}

// ------------------------------
// Helpers
//
// [1] Padding for .containers
// [2] Margin for .containers
//
// ------------------------------

.#{bb-prefix()}column {
  flex-direction: column;
  -webkit-flex-direction: column;
}

.#{bb-prefix()}row {
  flex-direction: row;
  -webkit-flex-direction: row;
}

.#{bb-prefix()}wrap {
  flex-wrap: wrap;
}

.#{bb-prefix()}fill {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

// [1] --------------------------
.#{bb-prefix()}padding {
  padding: $bb-layout-gutter-width;
}

@media (max-width: $bb-layout-breakpoint-medium) {
  .#{bb-prefix()}padding {
    padding: $bb-layout-gutter-width / 2;
  }
}

// [2] --------------------------
.#{bb-prefix()}margin {
  margin: $bb-layout-gutter-width;
}

@media (max-width: $bb-layout-breakpoint-medium) {
  .#{bb-prefix()}margin {
    margin: $bb-layout-gutter-width / 2;
  }
}

// ------------------------------
// Basic Flex Attributes
// ------------------------------

@include bb-flex-properties-for-name();
@include bb-align-for-name();
@include bb-flex-order-for-name();
@include bb-offset-for-name();

// ------------------------------
// Flex Attributes for specific layout
//
// [1] X-Small  (< 600px)
//    [1.1] Bigger than X-Small (>= 600px)
//
// [2] Small    (> 600px AND < 960px)
//    [2.1] Smaller than Small  (<= 600px)
//    [2.2] Bigger than Small   (>= 960px)
//
// [3] Medium   (> 960px AND < 1280px)
//    [3.1] Smaller than Medium (<= 960px)
//    [3.2] Bigger than Medium  (>= 1280px)
//
// [4] Large    (> 1280px AND < 1920px)
//    [4.1] Smaller than Large  (<= 1280px)
//    [4.2] Bigger than Large   (>= 1920px)
//
// ------------------------------

// [1] XSMALL--------------------
@media (max-width: $bb-layout-breakpoint-xsmall - 1) {
  .#{bb-prefix()}hide, .#{bb-prefix()}hide-xsm, .#{bb-prefix()}hide-st-sm, .#{bb-prefix()}hide-st-md, .#{bb-prefix()}hide-st-lg {
    &:not(.#{bb-prefix()}show-xsm):not(.#{bb-prefix()}show-st-sm):not(.#{bb-prefix()}show-st-md):not(.#{bb-prefix()}show-st-lg):not(.#{bb-prefix()}show) {
      display: none;
    }
  }

  @include bb-flex-order-for-name(xsm);
  @include bb-align-for-name(xsm);
  @include bb-layout-for-name(xsm);
  @include bb-offset-for-name(xsm);
  @include bb-flex-properties-for-name(xsm);
}

// [1.1] ------------------------
@media (min-width: $bb-layout-breakpoint-xsmall + 1) {
  @include bb-flex-order-for-name(bt-xsm);
  @include bb-align-for-name(bt-xsm);
  @include bb-layout-for-name(bt-xsm);
  @include bb-offset-for-name(bt-xsm);
  @include bb-flex-properties-for-name(bt-xsm);
}

// [2] SMALL---------------------
@media (min-width: $bb-layout-breakpoint-xsmall) and (max-width: $bb-layout-breakpoint-small - 1) {
  .#{bb-prefix()}hide, .#{bb-prefix()}hide-bt-xsm, .#{bb-prefix()}hide-st-md, .#{bb-prefix()}hide-st-lg {
    &:not(.#{bb-prefix()}show-bt-xsm):not(.#{bb-prefix()}show-sm):not(.#{bb-prefix()}show-st-md):not(.#{bb-prefix()}show-st-lg):not(.#{bb-prefix()}show) {
      display: none;
    }
  }
  .#{bb-prefix()}hide-sm:not(.#{bb-prefix()}show-sm):not(.#{bb-prefix()}show) {
    display: none;
  }
  @include bb-flex-order-for-name(sm);
  @include bb-align-for-name(sm);
  @include bb-layout-for-name(sm);
  @include bb-offset-for-name(sm);
  @include bb-flex-properties-for-name(sm);
}

// [2.1] ------------------------
@media (max-width: $bb-layout-breakpoint-small - 1) {
  @include bb-flex-order-for-name(st-sm);
  @include bb-align-for-name(st-sm);
  @include bb-layout-for-name(st-sm);
  @include bb-offset-for-name(st-sm);
  @include bb-flex-properties-for-name(st-sm);
}

// [2.2] ------------------------
@media (min-width: $bb-layout-breakpoint-small + 1) {
  @include bb-flex-order-for-name(bt-sm);
  @include bb-align-for-name(bt-sm);
  @include bb-layout-for-name(bt-sm);
  @include bb-offset-for-name(bt-sm);
  @include bb-flex-properties-for-name(bt-sm);
}

// [3] MEDIUM--------------------
@media (min-width: $bb-layout-breakpoint-small) and (max-width: $bb-layout-breakpoint-medium - 1) {
  .#{bb-prefix()}hide, .#{bb-prefix()}hide-bt-xsm, .#{bb-prefix()}hide-bt-sm, .#{bb-prefix()}hide-st-lg {
    &:not(.#{bb-prefix()}show-bt-xsm):not(.#{bb-prefix()}show-bt-sm):not(.#{bb-prefix()}show-md):not(.#{bb-prefix()}show-st-lg):not(.#{bb-prefix()}show) {
      display: none;
    }
  }
  .#{bb-prefix()}hide-md:not(.#{bb-prefix()}show-md):not(.#{bb-prefix()}show) {
    display: none;
  }
  @include bb-flex-order-for-name(md);
  @include bb-align-for-name(md);
  @include bb-layout-for-name(md);
  @include bb-offset-for-name(md);
  @include bb-flex-properties-for-name(md);
}

// [3.1] ------------------------
@media (max-width: $bb-layout-breakpoint-small - 1) {
  @include bb-flex-order-for-name(st-md);
  @include bb-align-for-name(st-md);
  @include bb-layout-for-name(st-md);
  @include bb-offset-for-name(st-md);
  @include bb-flex-properties-for-name(st-md);
}

// [3.2] ------------------------
@media (min-width: $bb-layout-breakpoint-medium + 1) {
  @include bb-flex-order-for-name(bt-md);
  @include bb-align-for-name(bt-md);
  @include bb-layout-for-name(bt-md);
  @include bb-offset-for-name(bt-md);
  @include bb-flex-properties-for-name(bt-md);
}

// [4] LARGE-------------------
@media (min-width: $bb-layout-breakpoint-medium) and (max-width: $bb-layout-breakpoint-large - 1) {
  .#{bb-prefix()}hide, .#{bb-prefix()}hide-bt-sm, .#{bb-prefix()}hide-bt-md {
    &:not(.#{bb-prefix()}show-bt-xsm):not(.#{bb-prefix()}show-bt-sm):not(.#{bb-prefix()}show-bt-md):not(.#{bb-prefix()}show-lg):not(.#{bb-prefix()}show) {
      display: none;
    }
  }
  .#{bb-prefix()}hide-lg:not(.#{bb-prefix()}show-lg):not(.#{bb-prefix()}show) {
    display: none;
  }
  @include bb-flex-order-for-name(lg);
  @include bb-align-for-name(lg);
  @include bb-layout-for-name(lg);
  @include bb-offset-for-name(lg);
  @include bb-flex-properties-for-name(lg);
}

// [4.1] ------------------------
@media (max-width: $bb-layout-breakpoint-medium - 1) {
  @include bb-flex-order-for-name(st-lg);
  @include bb-align-for-name(st-lg);
  @include bb-layout-for-name(st-lg);
  @include bb-offset-for-name(st-lg);
  @include bb-flex-properties-for-name(st-lg);
}

// [4.2] ------------------------
@media (min-width: $bb-layout-breakpoint-large + 1) {
  .#{bb-prefix()}hide-bt-sm, .#{bb-prefix()}hide-bt-md, .#{bb-prefix()}hide-bt-lg, .#{bb-prefix()}hide {
    &:not(.#{bb-prefix()}show-bt-xsm):not(.#{bb-prefix()}show-bt-sm):not(.#{bb-prefix()}show-bt-md):not(.#{bb-prefix()}show-bt-lg):not(.#{bb-prefix()}show) {
      display: none;
    }
  }
  @include bb-flex-order-for-name(bt-lg);
  @include bb-align-for-name(bt-lg);
  @include bb-layout-for-name(bt-lg);
  @include bb-offset-for-name(bt-lg);
  @include bb-flex-properties-for-name(bt-lg);
}