//--------------------
// Material Design Headings
//--------------------

.bb-display-4 {
  @include bb-display-4;
}

.bb-display-3 {
  @include bb-display-3;
}

.bb-display-2 {
  @include bb-display-2;
}

.bb-display-1 {
  @include bb-display-1;
}

// Generate small heading
@include bb-generate-heading-small();
@include bb-generate-heading-small(true);

.bb-headline {
  @include bb-headline;
}

.bb-title {
  @include bb-title;
}

.bb-subhead {
  @include bb-subhead;
}

//--------------------
// Default Headings
//
// - <h#> are styled, but can be overwritten by user and he can use "backup" .bb-h# to style it as Barebone
//
//--------------------
.bb-h1,
h1 {
  @include bb-h1;
}

.bb-h2,
h2 {
  @include bb-h2;
}

.bb-h3,
h3 {
  @include bb-h3;
}

.bb-h4,
h4 {
  @include bb-h4;
}

.bb-h5,
h5 {
  @include bb-h5;
}

.bb-h6,
h6 {
  @include bb-h6;
}

//--------------------
// Body Copy
//--------------------

.bb-body-1 {
  @include bb-body-1;
}

.bb-body-2 {
  @include bb-body-2;
}

.bb-caption {
  @include bb-caption;
}

//--------------------
// Links
//--------------------
a {
  text-decoration: none;
  color: inherit;
}

//--------------------
// Helpers
//
// [1] Light Color
// [2] Dark Color
//
//--------------------

// [1]
.bb-text-light,
.bb-text-light-primary {
  color: bb-color('text-light', 'primary');
}

.bb-text-light-secondary {
  color: bb-color('text-light', 'secondary');
}

.bb-text-light-hint {
  color: bb-color('text-light', 'hint');
}

.bb-icon-light-active {
  color: bb-color('icon-light', 'active');
}

.bb-icon-light-inactive {
  color: bb-color('icon-light', 'inactive');
}

// [2]
.bb-text-dark,
.bb-text-dark-primary {
  color: bb-color('text-dark', 'primary');
}

.bb-text-dark-secondary {
  color: bb-color('text-dark', 'secondary');
}

.bb-text-dark-hint {
  color: bb-color('text-dark', 'hint');
}

.bb-icon-dark-active {
  color: bb-color('icon-dark', 'active');
}

.bb-icon-dark-inactive {
  color: bb-color('icon-dark', 'inactive');
}