//--------------------
// Material Design Headings
//--------------------

.display-4 {
  @include bb-display-4;
}

.display-3 {
  @include bb-display-3;
}

.display-2 {
  @include bb-display-2;
}

.display-1 {
  @include bb-display-1;
}

// Generate small heading
@include bb-generate-heading-small();
@include bb-generate-heading-small(true);

.headline {
  @include bb-headline;
}

title,
.title {
  @include bb-title;
}

.subhead {
  @include bb-subhead;
}

//--------------------
// Default Headings
//--------------------
.h1,
h1 {
  @include bb-h1;
}

.h2,
h2 {
  @include bb-h2;
}

.h3,
h3 {
  @include bb-h3;
}

.h4,
h4 {
  @include bb-h4;
}

.h5,
h5 {
  @include bb-h5;
}

.h6,
h6 {
  @include bb-h6;
}

//--------------------
// Body Copy
//--------------------

.body-1 {
  @include bb-body-1;
}

.body-2 {
  @include bb-body-2;
}

caption,
.caption {
  @include bb-caption;
}

//--------------------
// Links
//--------------------
a {
  text-decoration: none;
  color: inherit;
}

//--------------------
// Helpers
//
// [1] Light Color
// [2] Dark Color
//
//--------------------

// [1]
.text-light,
.text-light-primary {
  color: bb-color('text-light', 'primary');
}

.text-light-secondary {
  color: bb-color('text-light', 'secondary');
}

.text-light-hint {
  color: bb-color('text-light', 'hint');
}

.icon-light-active {
  color: bb-color('icon-light', 'active');
}

.icon-light-inactive {
  color: bb-color('icon-light', 'inactive');
}

// [2]
.text-dark,
.text-dark-primary {
  color: bb-color('text-dark', 'primary');
}

.text-dark-secondary {
  color: bb-color('text-dark', 'secondary');
}

.text-dark-hint {
  color: bb-color('text-dark', 'hint');
}

.icon-dark-active {
  color: bb-color('icon-dark', 'active');
}

.icon-dark-inactive {
  color: bb-color('icon-dark', 'inactive');
}