// ------------------------------
// Mixins for Responsive Layout System
//
// [1] Order
// [2] Layout
// [3] Offset
// [4] Flex Properties
// [5] Align
//
// ------------------------------

// [1] --------------------------
@mixin bb-flex-order-for-name($suffix: null) {
  $selector: bb-prefix() + 'flex-order';
  @if $suffix != null {
    $selector: bb-prefix() + 'flex-order-#{$suffix}';
  }

  .#{$selector}-0 {
    order: 0;
  }
  .#{$selector}-1 {
    order: 1;
  }
  .#{$selector}-2 {
    order: 2;
  }
  .#{$selector}-3 {
    order: 3;
  }
  .#{$selector}-4 {
    order: 4;
  }
  .#{$selector}-5 {
    order: 5;
  }
  .#{$selector}-6 {
    order: 6;
  }
  .#{$selector}-7 {
    order: 7;
  }
  .#{$selector}-8 {
    order: 8;
  }
  .#{$selector}-9 {
    order: 9;
  }
}

// [2] --------------------------
@mixin bb-layout-for-name($name) {
  $name: bb-prefix() + $name;

  .#{$name} {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .#{$name}-column {
    flex-direction: column;
    -webkit-flex-direction: column;
  }

  .#{$name}-row {
    flex-direction: row;
    -webkit-flex-direction: row;
  }
}

// [3] --------------------------
@mixin bb-offset-for-name($name: null) {
  $offsetName: bb-prefix() + 'offset';
  @if $name != null {
    $offsetName: bb-prefix() + 'offset-#{$name}';
  }

  @for $i from 1 through 19 {
    .#{$offsetName}-#{$i*5} {
      margin-left: #{$i * 5 + '%'};
    }
  }

  .#{$offsetName}-33, .#{$offsetName}-34 {
    margin-left: 33.33%;
  }
  .#{$offsetName}-66, .#{$offsetName}-67 {
    margin-left: 66.66%;
  }
}

// [4] --------------------------
@mixin bb-flex-properties-for-name($name: null) {
  $flexName: bb-prefix() + 'flex';
  @if $name != null {
    $flexName: bb-prefix() + 'flex-#{$name}';
  }

  .#{$flexName} {
    box-sizing: border-box;
    flex: 1;
    display: flex;
  }

  // (0-20) * 5 = 0-100%
  @for $i from 0 through 20 {
    .#{$flexName}-#{$i * 5} {
      flex: 0 0 #{$i * 5 + '%'};
      display: flex;
      max-width: #{$i * 5 + '%'};
    }
  }

  .#{$flexName}-33, .#{$flexName}-34 {
    flex: 0 0 34%;
    display: flex;
    max-width: 34%;
  }

  .#{$flexName}-66, .#{$flexName}-67 {
    flex: 0 0 66%;
    display: flex;
    max-width: 66%;
  }
}

// [5] --------------------------
@mixin bb-align-for-name($suffix: null) {
  $name: bb-prefix() + 'align';
  @if $suffix != null {
    $name: bb-prefix() + 'align-#{$suffix}';
  }
  // ------------------------------
  // Alignment attributes for layout containers' children
  // Arrange on the Main Axis
  // center, start, end, space-between, space-around
  // flex-start is the default for justify-content
  // ------------------------------

  // Main Axis Center
  .#{$name}-center,
  .#{$name}-center-center,
  .#{$name}-center-start,
  .#{$name}-center-end {
    justify-content: center;
  }

  // Main Axis End
  .#{$name}-end,
  .#{$name}-end-center,
  .#{$name}-end-start,
  .#{$name}-end-end {
    justify-content: flex-end;
  }

  // Main Axis Space Around
  .#{$name}-space-around,
  .#{$name}-space-around-center,
  .#{$name}-space-around-start,
  .#{$name}-space-around-end {
    justify-content: space-around;
  }

  // Main Axis Space Between
  .#{$name}-space-between,
  .#{$name}-space-between-center,
  .#{$name}-space-between-start,
  .#{$name}-space-between-end {
    justify-content: space-between;
  }

  // ------------------------------
  // Arrange on the Cross Axis
  // center, start, end
  // stretch is the default for align-items
  // ------------------------------

  // Cross Axis Center
  .#{$name}-center-center,
  .#{$name}-start-center,
  .#{$name}-end-center,
  .#{$name}-space-between-center,
  .#{$name}-space-around-center {
    align-items: center;
  }

  // Cross Axis Start
  .#{$name}-center-start,
  .#{$name}-start-start,
  .#{$name}-end-start,
  .#{$name}-space-between-start,
  .#{$name}-space-around-start {
    align-items: flex-start;
  }

  // Cross Axis End
  .#{$name}-center-end,
  .#{$name}-start-end,
  .#{$name}-end-end,
  .#{$name}-space-between-end,
  .#{$name}-space-around-end {
    align-items: flex-end;
  }
}