// ------------------------------
// Material Design Headings
// ------------------------------

@mixin bb-display-4() {
  font-size: $bb-display-4-font-size-base;
  font-weight: 300;
  letter-spacing: - 5 px;
  line-height: bb-rem(12.8)
}

@mixin bb-display-3() {
  font-size: $bb-display-3-font-size-base;
  font-weight: 400;
  line-height: bb-rem(6.4);
}

@mixin bb-display-2() {
  font-size: $bb-display-2-font-size-base;
  font-weight: 400;
  line-height: bb-rem(6.4);
}

@mixin bb-display-1() {
  font-size: $bb-display-1-font-size-base;
  font-weight: 400;
  line-height: bb-rem(5.2);
}

// ------------------------------
// Default Headings
// ------------------------------

@mixin bb-heading-shared() {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-bottom: bb-rem(1);
  margin-top: bb-rem(1);
}

@mixin bb-h1() {
  font-size: $bb-heading-1-font-size-base;
  @include bb-heading-shared;
}

@mixin bb-h2() {
  font-size: $bb-heading-2-font-size-base;
  @include bb-heading-shared;
}

@mixin bb-h3() {
  font-size: $bb-heading-3-font-size-base;
  @include bb-heading-shared;
}

@mixin bb-h4() {
  font-size: $bb-heading-4-font-size-base;
  @include bb-heading-shared;
}

@mixin bb-h5() {
  font-size: $bb-heading-5-font-size-base;
  @include bb-heading-shared;
}

@mixin bb-h6() {
  font-size: $bb-heading-6-font-size-base;
  @include bb-heading-shared;
}

// ------------------------------
// Text Body
// ------------------------------

@mixin bb-headline() {
  font-size: $bb-headline-font-size-base;
  font-weight: 400;
  line-height: bb-rem(3.2);
}

@mixin bb-title() {
  font-size: $bb-title-font-size-base;
  font-weight: 500;
  letter-spacing: 0.005em;
}

@mixin bb-subhead() {
  font-size: $bb-subhead-font-size-base;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: bb-rem(2.4);
}

@mixin bb-body-1() {
  font-size: $bb-body-font-size-base;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: bb-rem(2);
}

@mixin bb-body-2() {
  font-size: $bb-body-font-size-base;
  font-weight: 500;
  letter-spacing: 0.010em;
  line-height: bb-rem(2.4);
}

@mixin bb-caption() {
  font-size: $bb-caption-font-size-base;
  letter-spacing: 0.020em;
}

// ------------------------------
// Small Heading
// ------------------------------

@mixin bb-heading-small($light: false) {
  font-weight: 400;
  font-size: 0.65em;
  line-height: 1;

  // Create variant for light or dark text
  @if $light {
    color: bb-color('text-light', 'secondary');
  } @else {
    color: bb-color('text-dark', 'secondary');
  }
}

// If $light = true, generate light small headline
@mixin bb-generate-heading-small($light: false) {

  $suffix: " ";
  @if $light {
    $suffix: ".text-light";
  }

  // Default Headings
  @for $i from 1 to 6 {

    .h#{$i $suffix} .small,
    .h#{$i $suffix} small,
    h#{$i $suffix} .small,
    h#{$i $suffix} small {
      @include bb-heading-small($light);
    }
  }

  // Material Design Headings
  @for $i from 1 to 4 {

    .display-#{$i $suffix} .small,
    .display-#{$i $suffix} small {
      @include bb-heading-small($light);
    }
  }

}